body {
    background-image: url("images/images.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    color:beige;
    text-align: center;
}
img {
    width: 200px;
}
.razones {
    position: absolute;
    left: 40px;
    top: 500px;
    width: 250px;
    text-align: left;
}
.razones h2 {
    text-align: center;
    margin-bottom: 20px;
}
.razones p {
    text-align:left;
    margin-bottom: 20px;
}
.poderes {
    position: absolute;
    left: 455px;
    top: 500px;
    width: 230px;
    text-align: left;
}